.main {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

.title {
  font-size: 13vw;
  overflow: hidden;
}

.title {
  display: inline-block;
}

.projectImage {
  object-fit: cover;
  object-position: center;
  max-height: 80vh;
}








.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}

.projectContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  padding: 10vw 0 10vw 0;
}

.project {
  margin-top: 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 3vw;
}

.section h2 {
  color: antiquewhite;
  text-align: center;
}

.section h1 {
  color: antiquewhite;
  text-align: center;
}

.mainImage {
  width: 100%;
  max-height: 100vh;
  border-radius: 3vw;
  object-fit: cover;
  object-position: center;
}

.projectTitle h2 {
  font-size: 8vw;
  color: antiquewhite;
}


.workTtl {
  color: antiquewhite;
}


/* ---------------------------------------- */


/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  .mainImage {
    
    max-height: 50vh;
 
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}